body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-header{
    width: 100%;
    margin: auto;
}
.nav-bar{
    font-size: 2em;
    font-weight:bold;
    letter-spacing: 0.2em;
    background-color: #00334e;
    width: 100%;
}
.main-menu{
    margin: 0;
    padding: 1em;
    text-align: center;
}

.main-menu li{
    display: inline;
    padding: 0.5em;
}
.main-menu a{
    text-decoration: none;
    color: #e8e8e8;
    
}
.main-menu a:hover{
    color: bisque;
}
.heading{
    background-color: #5588a3;
    height: 90vh;

}
.sub-heading{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.text{
    text-align: left;
    margin: 0;
    padding: 0.5em;
    color: #e8e8e8;
    font-weight: 100;
}
.text h1{
    font-size: 8em;
    letter-spacing: 0.1em;
}
.text h3{
    font-size: 3em;
    letter-spacing: 0.15em; 
    font-weight: 100;
}
.image img{
  width: 80%;  
  padding: 0.5em;
}

.about-section{
    background-color: #e8e8e8;
    text-align: center;
    padding-bottom: 2em;
}
.about-section h1{
    margin: 0;
    font-size: 4em;
    color: #00334e;
    letter-spacing: 0.1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
.main-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    

}
.col{
    width: 12%;
    display: flex;
    flex-direction: column;
}
.desc{
    display: flex;
    justify-content: flex-start;
    font-size: 2em;
}
.desc p{
    margin: 0;
    padding: 0;
}
.desc i{
    padding-top: 0.2em;
    padding-right: 0.2em;
    color: #5588a3;
}
.stars{
    display: flex;
    justify-content: flex-start;
}
.stars img{
    padding-top: 0.5em;
    width: 20%;
    height: 20%;
}
.projects{
    background-color: #145374;
    text-align: center;
}
.projects h1{
    margin: 0;
    font-size: 4em;
    color: #e8e8e8;
    letter-spacing: 0.1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}
.projects-div{
    display: flex;
    flex-direction: column;
}
.project-container{
    background-color: black;
    width: 70%;
    height: 50px;
    margin-top: 1em;
}
.left{
    margin-right: 2em;
    margin-left: auto;
}
.right{
    margin-right: auto;
    margin-left: 2em;
}

@media screen and (max-width: 786px) {
    .sub-heading{
        flex-direction: column;
        align-content: center;
    }
    .img{
        width: 20%;
    }
    .text h1{
        font-size: 4em;
    }
    .text h3{
        font-size: 2em;
    }
    .heading{
        height: auto;
  }
  .main-menu li{
    display: inline;
    padding: 0.3em;
    }
    .nav-bar{
        font-size: 1.5em;
    }
}
  