body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-header{
    width: 100%;
    margin: auto;
}
.heading{
    font-family: 'Kalam', cursive;
}
.nav-bar{
    font-size: 2em;
    font-weight:bold;
    letter-spacing: 0.2em;
    background-color: #00334e;
    width: 100%;
}
.main-menu{
    margin: 0;
    padding: 1em;
    text-align: center;
}

.main-menu li{
    display: inline;
    padding: 0.5em;
}
.main-menu a{
    text-decoration: none;
    color: #e8e8e8;
    
}
.main-menu a:hover{
    color: bisque;
}